  <h1>Unpublished articles</h1>
      <% @notapproved.each do |article|%>
        <div id="<%= dom_id(article) %>">
            <%=  link_to(journalist_article_path(article)) do %>
            <div class="max-w-sm rounded overflow-hidden shadow-lg">
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2">
                        <%= article.title %>
                    </div>
                    <p class="text-grey-darker text-base">
                        <%= article.lead %>
                    </p>
                </div>
            </div>
            <% end %>
        </div>
    <% end %>
  
  <h1>Published articles</h1>  
    <% @articles.approved.each do |article|%>
        <div id="<%= dom_id(article) %>">
            <%=  link_to(journalist_article_path(article)) do %>
            <div class="max-w-sm rounded overflow-hidden shadow-lg">
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2">
                        <%= article.title %>
                    </div>
                    <p class="text-grey-darker text-base">
                        <%= article.lead %>
                    </p>
                </div>
            </div>
            <% end %>
        </div>
    <% end %>
