<%= link_to "Create Article", new_journalist_article_path%>
  
<h1>Unpublished articles</h1>
<ul class="unpublished_list">
    <% @notapproved.each do |article|%>
        <li>
            <div id="<%= dom_id(article) %>">
                <%=  link_to(journalist_article_path(article)) do %>
                    <%= article.title %>
                <% end %>
            </div>
        </li>
    <% end %>
</ul>

<h1>Published articles</h1>  
<ul class="published_list">
    <% @articles.approved.each do |article|%>
        <li>
            <div id="<%= dom_id(article) %>">
                <%=  link_to(journalist_article_path(article)) do %>
                    <%= article.title %>                   
                <% end %>
            </div>
        </li>
    <% end %>
</ul>